.settings {
	margin-top: 20px;
	background: #0268b4;
	border: 3px solid #60b7ff;
	box-sizing: border-box;
	box-shadow: 0px 3px 3px #0268b4;
	color: #fff;
	padding: 10px;
	&__form {
		display: flex;
		flex-direction: column;
	}
	&__line {
		min-width: 300px;
		display: grid;
		grid-template-columns: repeat(4, 1fr);
		justify-content: space-between;
	}
}
