// Squares
$light-orange: #fdbf00;
$orange: #fe9738;
$light-red: #e63950;
$red: #c50000;
$light-teal: #2ec4b6;
$teal: #21867d;
$light-gray: #edf5ff;
$gray: #849799;

// Numbers
$navy: #0268b4;
$pink: #e63950;
$violet: #5d2e8c;
$yellow: #f6ae2d;
$blue: #5c95ff;
$green: #377771;
$brown: #8a3f14;
// plus light-teal
